.masonry {
  column-count: 4;
  column-gap: 1rem;
}

.masonry img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}
